@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 16px;
font-style: normal;
/*margin-left: 20px;*/
}.flaticon-cellphone:before {
	content: "\e000";
}
.flaticon-circle105:before {
	content: "\e001";
}
.flaticon-circle7:before {
	content: "\e002";
}
.flaticon-circular180:before {
	content: "\e003";
}
.flaticon-football92:before {
	content: "\e004";
}
.flaticon-gross6:before {
	content: "\e005";
}
.flaticon-id12:before {
	content: "\e006";
}
.flaticon-key18:before {
	content: "\e007";
}
.flaticon-nfc1:before {
	content: "\e008";
}
.flaticon-price3:before {
	content: "\e009";
}
.flaticon-sim1:before {
	content: "\e00a";
}
.flaticon-sticking:before {
	content: "\e00b";
}
.flaticon-sticky:before {
	content: "\e00c";
}
.flaticon-tag33:before {
	content: "\e00d";
}
.flaticon-watch16:before {
	content: "\e00e";
}
